.body{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
body{
    background-color: #2d3436;
    color: #dfe6e9;
}

mat-sidenav{
  div{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-content: flex-start;
  button{
    flex:1 1 100%;
  }}
}
