.body{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 3000px;
}

mat-sidenav{
  div{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-content: flex-start;
  button{
    flex:1 1 100%;
  }}
}
