<div style="display: flex">
<table style="flex: 1 1 100%" mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="price">
    <th *matHeaderCellDef mat-sort-header sortActionDescription="Sort by cost"> Cost</th>
    <td *matCellDef="let row"> {{row.cost| number : '.2-2'}} </td>
  </ng-container>
  <ng-container matColumnDef="value">
    <th *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Value">Value</th>
    <td *matCellDef="let row">
      {{row.value| number : '.2-2'}}
    </td>
  </ng-container>
  <ng-container matColumnDef="icon">
    <th *matHeaderCellDef>Icon</th>
    <td *matCellDef="let row"><img src="{{row.icon}}"></td>
  </ng-container>

  <ng-container matColumnDef="xp_value">
    <th *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Experience Value">Chaos/Simulacrum</th>
    <td *matCellDef="let row"> {{(row.xp_value*200000000).toPrecision(3) }} </td>
  </ng-container>
  <ng-container matColumnDef="profit">
    <th *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Expected Profit">Profit</th>
    <td *matCellDef="let row"> {{row.profit | number : '.2-2'}} </td>
  </ng-container>
  <ng-container matColumnDef="relative_profit">
    <th *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Relative Profit">% Profit</th>
    <td *matCellDef="let row"> {{row.relative_profit | number : '.2-2'}} </td>
  </ng-container>


  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{row.name}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <app-trading-stack [query]="row.query"></app-trading-stack>
    </mat-cell>
  </ng-container>
<!--  <a href='https://www.pathofexile.com/trade/search/Archnemesis/{{row.params.id}}' target="_blank"></a>-->
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>

</div>
