app-profitable-items{
  flex:0 0 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: flex-start;
}
app-whispers{
  flex:0 0 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
app-horizon{
  flex:1 1 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
